.MuiDialog-paperWidthSm {
  max-width: null !important;
  width: 80% !important;
 background: radial-gradient(#e66465, #9198e5);

  border-radius: 30px !important;
  text-align: center;
}
h2 {
  color: hsl(324, 100%, 78%) !important;
  margin-top: 20px;
}
.MuiDialogContentText-root {
  font-size: 20px !important;
  color: hsl(324, 100%, 78%) !important;
}
.MuiTypography-h6 {
  font-size: 20px !important;
 font-weight: 500;
}
.MuiDialogActions-root {
  display: unset !important;

  
}
.MuiButton-label:hover {
  color: hsl(324, 100%, 78%) !important;
}
.MuiButton-label {
  color: hsl(324, 100%, 78%) !important;
  background: 'linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%)';
}